// .edit_form {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   // align-items: center;
// }

.edit_date {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.edit {
  padding-left: 25px;
  flex-grow: 4;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}


.edit_button {
  margin-left: 25px;
  background-color: $gray-color;
  border: none;
  border-radius: 10px;
  width: 70px;
}

#last_place {
  border-radius: 7px;
  border-color: $secondary-color;
  padding-right: 10px;
  margin-left: 10px;
  width: 275px
}

#budget {
  
  border-radius: 7px;
  border-color: $secondary-color;
  padding-right: 10px;
  outline:none;
  margin-left: 10px;
  width: 275px
}