$white-color: #ffffff;
$black-color: #000000;
$gray-color: #f2f2f2;
$primary-color: #0eb1c7;
$secondary-color: #f9f1ec;
$accent-color1: #ff6666;
$accent-color2: #52327c;
$accent-color3: #f2b301;
$background-color: #ffffff;
$font-color: #1d1c1c;
$font-head: 32px;
$font-logo: 25px;
$font-large: 20px;
$font-medium: 18px;
$font-small: 15px;
$font-micro: 13px;
